<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler,NHibernate"/>
  </configSections>
  <connectionStrings>
    <!--113.109.138.68-->
    <add name="localhost" connectionString="Database=PMMS;Data Source=127.0.0.1;User Id=root;Password=123456"/>
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="PMMS">
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle</property>
      <property name="dialect">NHibernate.Dialect.MySQL5Dialect,NHibernate</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver,NHibernate</property>
      <property name="connection.connection_string_name">localhost</property>
      <property name="adonet.batch_size">100</property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.414.0" newVersion="2.0.414.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
